<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
		<RollingFile name="RollingFileAppender" fileName="C:/Users/lvonnied/eclipse-workspace/Swing Address book/logs/logFile.log"
			filePattern="C:/Users/lvonnied/eclipse-workspace/Swing Address book/logs/logFile-%d{MM-dd-yyyy}.log">
        <PatternLayout>
            <Pattern>%d [%t] %p %c - %m%n</Pattern>
        </PatternLayout>
        <Policies>
            <OnStartupTriggeringPolicy />
            <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            <SizeBasedTriggeringPolicy size="50 MB"/>
        </Policies>
        <DefaultRolloverStrategy max="20" />
    </RollingFile>
	
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>
	
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="RollingFileAppender" />
			<AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
